@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">@ViewBag.Title.</h1>
        <p class="lead">@ViewBag.Message</p>
        <p>@ViewData["contenido"]</p>

    </section>


    </div>
</main>