@{
    ViewBag.Title = "Control Escolar v1.0";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido</h1>
        <p class="lead">Este sitio es un ejemplo basico de un Sistama de Gestion Escolar</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Administrar Usuarios</h2>
            <p>
                Este modulo permite administrar los usuarios dados dentro del sistema.
            </p>
            <p><a class="btn btn-outline-dark" href="#">Administrar &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Administrar Cursos</h2>
            <p>Este modulo permite administrar los cursos impartidos.</p>
            <p><a class="btn btn-outline-dark" href="#">Administrar &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Gestionar Calificaciones</h2>
            <p>En este modulo se pueden asignar las calificaciones de los alumnos.</p>
            <p><a class="btn btn-outline-dark" href="#">Gestionar &raquo;</a></p>
        </section>
    </div>
</main>